.navbar {
    background-color: rgb(200, 200, 200);
    padding: 10px 20px;
    padding-left: 50px;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
    padding-left: 20px;
  }
  
  .nav-item1 {
    margin-right: 10px;
    padding-left: 20px;
    margin-left: 900px;
  }
  
  .search-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  
  .page-name{
    font-size: 30px;
    font-weight: bold;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .nav-item {
      margin: 5px;
    }
  }

  .search-input {
    display: none;
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .search-input::placeholder {
    color: #999;
  }