<app-header></app-header>

<div class="image-container">
  <img src="assets/img1.png" alt="Image" class="img1" >
  <div class="image-overlay">
    <h3 class="image-text">Gold big hoops</h3>
    <button class="image-button" (click)="navigateToNewPage()">view product</button>
  </div>
</div>

<h2>
  Shop The Latest
</h2>
<div class="container">
  <div class="row">
          <div class="card col-md-3">
              <img src="assets/shop-img1.png" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Lira Earings</h5>
              <p><strong>Price:</strong>RS.99</p>
              <button class="btn btn-light" >View Product</button>
          </div>
          <div class="card col-md-3">
            <img src="assets/shop-img2.png" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Hal Earings</h5>
            <p><strong>Price:</strong>RS.109</p>
            <button class="btn btn-light" >View Product</button>
        </div>
        <div class="card col-md-3">
          <img src="assets/shop-img3.png" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Hair Pins</h5>
          <p><strong>Price:</strong>RS.89</p>
          <button class="btn btn-light" >View Product</button>
      </div>
  </div>
  <div class="row">
    <div class="card col-md-3">
        <img src="assets/shop-img1.png" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Lira Earings</h5>
        <p><strong>Price:</strong>RS.99</p>
        <button class="btn btn-light" >View Product</button>
    </div>
    <div class="card col-md-3">
      <img src="assets/shop-img2.png" alt="">
      <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Hal Earings</h5>
      <p><strong>Price:</strong>RS.109</p>
      <button class="btn btn-light" >View Product</button>
  </div>
  <div class="card col-md-3">
    <img src="assets/shop-img3.png" alt="">
    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Hair Pins</h5>
    <p><strong>Price:</strong>RS.89</p>
    <button class="btn btn-light" >View Product</button>
</div>
</div>
</div>

<div class="container">
  
</div>

 
<hr>

<div class="info-block">
  <div class="info-item">
    <label>CONTACT</label>
    <label>TERMS OF SERVICE</label>
    <label>SHIPPING AND RETURNS</label>
   
  </div>
  <div class="copy">
    &copy; 2021 Terms of use and Privacy policy
  </div>
</div>