<div class="login-container">
    <div class="image-container">
      <h1 class="page_name">SHOPPE</h1>
      <img src="assets/login-image.jpg" alt="Login Image" style="width: 700px; height: 400px;">
    </div>
    <form>
    <div class="form-container">
      <h1 style="padding-right: 260px;padding-top: 10px;padding-bottom: 10px;">Log in</h1>
      <!-- Your login form code here -->
      Welcome Back! Please Enter your details.<br>
      <h6 style="padding-right: 330px;padding-top: 10px;padding-bottom: 10px;">Email</h6>
      <input type="email" name="email" id="email" placeholder="Enter your email" required><br>
      <h6 style="padding-right: 300px;padding-top: 10px;padding-bottom: 10px;">Password</h6>
      <input type="password" name="password" id="password" placeholder="Enter Password" required>
      <button (click)="navigateToNewPage()" class="btn btn-dark">Sign In</button>
      <button type="submit" class="btn btn-outline-dark"><i class="fa-brands fa-google"></i> &nbsp; Sign In with Google</button>
    </div>
  </form>
  </div>
  
  